.benefits {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $globalTextColor;

    @include media("<1200px") {
      flex-direction: column;
      height: 70vh;
    }
  }

  &__article {
    width: calc(100% / 2);

    @include media("<1200px") {
      text-align: center;
      width: 90%;
    }
  }

  &__title {
    padding-top: 35px;
    text-transform: capitalize;
    font-family: "Aleo";
    font-weight: 400;
    font-size: 36px;
  }

  &__text-01 {
    padding-top: 35px;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: $baseFontSize;

    @include media("<1200px") {
      padding-top: 15px;
    }
  }

  &__text-02 {
    padding-top: 30px;
    margin-bottom: 35px;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: $baseFontSize;

    @include media("<1200px") {
      padding-top: 15px;
      margin-bottom: 15px;
    }
  }

  &__button {
    background-image: linear-gradient(
      45deg,
      #496bfe 0%,
      #496bfe 40%,
      #54a3ee 40%,
      #007aed 40%,
      #5474fd 40%,
      #5474fd 100%
    );
    background-size: 300% 100%;
    border: none;
    color: $globalTextColor;
    padding: 15px 32px;
    font-family: "Aleo";
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: $baseFontSize;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-position: 100% 0;
      background-image: linear-gradient(
        45deg,
        #496bfe 56%,
        #496bfe 56%,
        #54a3ee 56%,
        #007aed 56%,
        #5474fd 56%,
        #5474fd 100%
      );
    }
  }

  &__pictures {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;

    @include media("<1200px") {
      flex-direction: row;
      justify-content: space-around;
      padding: 30px 0 0;
      width: 100%;
    }

    & img {
      width: 100%;
    }
  }

  &__img1 {
    align-self: flex-start;

    @include media("<1200px") {
      padding: 30px 5px 30px;
    }
  }

  &__img2 {
    align-self: flex-end;

    @include media("<1200px") {
      padding: 30px 5px 30px;
    }
  }
}
